<!-- Single Tweet:
A single tweet's page should have an h4 tag for its author (or the username of the user who wrote the tweet), and a p tag for its content or text, and another p tag showing the tweet's user_id.

example:

Author: "TWEET'S AUTHOR'S USERNAME
Content: "TWEET CONTENT"

User ID: "TWEET USER_ID" -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h3>Author: {{tweet.user}}</h3>
    <p>Content: {{tweet.text}}</p>
    <p>User ID: {{tweet.user_id}}</p>

  </body>
</html>
