<!-- Multiple Users:
When multiple users are requested, the format should be an ordered list with each list item containing an h3 tag showing the user's username, an h4 tag showing the user's id, and another h4 tag showing the number of tweets that user has tweeted.

example:

Username: "USERNAME"
ID: "ID"
Tweet Count: "NUMBER OF TWEETS FROM USER"
Username: "USERNAME"
ID: "ID"
Tweet Count: "NUMBER OF TWEETS FROM USER" -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ol>
      {% for user in users %}
      <li>
          <h3>Username: {{user.username}}</h3>
          <h4>ID: {{user.id}}</h4>
          <h4>Tweet Count: {{user.tweets | length}}</h4>
      </li>
      {% endfor %}
    </ol>
  </body>
</html>
