<!-- Single User:
A single user's page should have an h3 tag for their username, a p tag for their id, an h4 tag that has the text "Tweets:" followed by an unordered list containing all of the user's tweets each list item showing the tweet's user_id and content, which is a tweet's text.

example:

Username: "USERNAME"
ID: "ID"

Tweets:
User ID: "TWEET USER_ID"

Content: "TWEET CONTENT" -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h3>Username: {{user.username}}</h3>
    <p>ID: {{user.id}}</p>
    <h4>Tweets:</h4>
    <ul>
      <li>User ID: {{user.id}}
        {% for tweet in user.tweets %}
        <p>Content: {{tweet['text']}}</p>
        {% endfor %}
      </li>
    </ul>

  </body>
</html>
